<!DOCTYPE html>
<html>
  <head>
    <title>SSO Progressive Web App</title>
    <%= stylesheet_link_tag 'pwa' %>
    <%= javascript_pack_tag 'pwa_main' %>
    <%= javascript_pack_tag 'pwa_serviceevents' %>    
    <%= javascript_pack_tag 'pwa_hooks' %>
  </head>

  <body>
    <h1>Pwa#main</h1>
    <p>Find me in app/views/pwa/main.html.erb</p>
    <p></p>
    <p><button id="loginButton">Login</button></p>
  </body>


</html>
